body {
    font-family: '맑은 고딕', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
a:hover {
    color: #007bff;
}
main {
    padding: 20px;
}
